<connectionStrings>

    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20180410113519.mdf;Initial Catalog=aspnet-WebApp-20180410113519;Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="StarTedDb"
       connectionString="Data Source=.;Initial Catalog=StarTED;Integrated Security=True"
       providerName="System.Data.SqlClient" />

</connectionStrings>